.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }


.post-link {
  display: block;
  font-size: 24px; }

.post-meta {
  font-size: 14px;
  color: #718096; }

.toc-category {
  display: inline-block;
  padding: 6px 12px;
  white-space: nowrap; }

@media (max-width: 500px) {
  .post-link {
    font-size: 20px; }
}


.python .dv {
  color: #0066cc }

.python .kw {
  color: #7c3aed }

.python .cf {
  color: #7c3aed }

@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXZERO;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXTEX;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}

.math { font-family: MJXc-TeX-math-Iw }
